<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UserBooks</title>
    <link rel="stylesheet" href="style.css">
    <style>
        *{
            margin-bottom: 10px;
        }
        body{
            display: flex;
            flex-flow: column;
        }
        div{
            border: black solid 1px;
            padding: 10px;
            box-sizing: border-box;
        }
        .buttonS {
            padding: 8px;
            margin: 10px 10px 10px 0;
            cursor: pointer;
            max-width: 100px;
            border-radius: 10px;
            border: 3px solid aquamarine;
            background-color: transparent;
            transition: all 0.3s;
        }
        .buttonS:hover {
            background-color: aquamarine;
        }
    </style>
</head>
<body class="divBg">
<div class="base" style="max-width: 90%">
    <h1>Book List</h1>
    <%for(let i=0;i<books.length;i++){%>
        <div>
            <%for (let j=0;j<librarybooks.length;j++){%>
                <%if (books[i].ISBN===librarybooks[j].ISBN){%>
                    <h3><%=librarybooks[j].Title%></h3>
                    <a href="<%=librarybooks[j].path.replace('public','')%>">Open</a>
                <%}%>
            <%}%>
        </div>
    <%}%>
    <form action="/home">
        <input type="submit" value="Home" class="buttonS">
    </form>
    <%=msg%>
</div>
</body>
</html>