<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <form action="/profile/changeName" method="post">
        First Name : <input type="text" name="firstName"><br>
        Last Name : <input type="text" name="lastName"><br>
        <input type="submit" value="Save">
    </form>
    <form action="/profile">
        <input type="submit" value="Cancel">
    </form>
</body>
</html>