<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <form action="/profile/changePassword" method="post">
        Old Passaword: <input type="text" name="oldpassword" required><br>
        New Passaword: <input type="text" name="newpassword" required><br>
        Confirm Passaword: <input type="text" name="confrimpassword" required><br>
        <button type="submit">Save</button>
    </form>
    <form action="/profile">
        <input type="submit" value="Cancel">
    </form>
</body>
</html>