<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    Are you sure you want to delete this account?
    <form method="POST" action="/profile/deleteAccount">
        <input type="submit" value="Delete Account" />
    </form>
    <form action="/profile">
        <input type="submit" value="Cancel">
    </form>
</body>
</html>