<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="style.css">
        <title>Login</title>

    </head>
    <body class="loginPage">


    <div class="row">

        <div class="column left" id="container">
            <img id="loginImage" src="https://picsum.photos/640/480" />
        </div>
        <div class="column right" id="container_right">
                <form action="/" method="POST">
                    <h1>Online Library</h1>
                    <h3>Happy to see you again!</h3>
                    <label>Login
                    <input type="text" placeholder="Email" name="email" required>
                    </label>
                    <label>Password
                        <input type="password" placeholder="Password" name="password" required>
                    </label>
                    <button type="submit" class="btnLogin">Sign in</button>
                </form>

                <form action="/signup">
                    <i>Do not have an account?</i>
                    <button type="submit" class="btnLogin">Sign Up</button>
                </form>
        </div>
    </div>
    </body>
</html>
