<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <title>Profile</title>
    <style>
        #fname,#lname,#useremail,#password,#buttonf{
            visibility: hidden;
        }
    </style>
</head>
<body>
<div class="divBg">
<div class="base">
    <h1>Profile</h1>
    <div style="display: table">
        <div style="display: table-row">
            <div style="display: table-cell">
                <span>First Name: <%=firstName%></span><br>
                <span>Last Name: <%=lastName%></span>
            </div>
            <div style="display: table-cell">
                <form action="/profile/changeName">
                    <button type="submit" >Edit</button>
                </form>
            </div>
        </div>
        <div style="display: table-row">
            <div style="display: table-cell">
                <span>Email: <%=email%></span>
            </div>
            <div style="display: table-cell">
                <form action="/profile/changeEmail">
                    <button type="submit">Edit</button>
                </form>
            </div>

        </div>
        <div style="display: table-row">
            <div style="display: table-cell"><span>Password</span></div>
            <div style="display: table-cell">
                <form action="/profile/changePassword">
                    <button type="submit">Edit</button><br>
                </form></div>
        </div>
        <div style="display: table-row">
            <div style="display: table-cell"><form action="/home">
                    <button type="submit">Home</button>
                </form></div>
            <div style="display: table-cell"><form action="/profile/deleteAccount">
                    <button type="submit" class="danger">Delete Account</button>
                </form></div>

        </div>
    </div>
</div>
</div>
</body>
</html>